table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .eliminar{
    cursor: pointer;
    color: red;
  }

  .editar{
    cursor: pointer;
    color: blue;
  }

  .buscar{
    width: 100%;
    border-radius: 0px;
    height: 42px;
    
  }